body {
    margin: 0;
}

/* Basic config */
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.ttf') format('truetype');
}

/* Nav */
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #171e27;
    color: white;
    font-family: 'Gilroy-Light';
    border-bottom: 1px solid #292929;
    z-index: 2;
    position: relative;
}

.nav img {
    width: 280px;
    object-fit: contain;
    margin: -60px 0px;
    cursor: pointer;
}

.nav>div:first-of-type {
    display: flex;
    align-items: center;
}

.nav>div:first-of-type>button {
    background-color: #FDECEC;
    border-radius: 35px;
    border: 0;
    color: #F05656;
    padding: 14px 21px;
}

.nav>div:nth-of-type(2) {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}

.nav>div:nth-of-type(2) svg {
    position: relative;
    top: 4px;
    left: 4px;
}

.dropdown-content {
    position: absolute;
    display: flex;
    top: 80px;
    left: 200px;
    color: black;
    padding: 15px 60px 30px 60px;
    justify-content: space-between;
    background-color: white;
    width: 65%;
    border: 1px solid lightgray;
    z-index: 10;
}

.dropdown-content h2 {
    color: #28B570;
}

.dropdown-content>div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dropdown-content>div>div {
    display: flex;
    align-items: center;
    gap: 25px;
}

.dropdown-content h2 {
    margin: 0px;
    margin-top: 10px;
}

.dropdown-content>div img {
    width: 64px;
    height: 64px;
}

.dropdown-content p {
    margin: 2px;
}

.dropdown-content>div>div p:first-of-type {
    font-family: 'Gilroy-Medium';
}

/* Gateway Hero */
.hero {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-family: 'Gilroy-Medium';
    color: #171E27;
    margin-bottom: 80px;
}

.hero>div {
    width: 35%;
}

.hero>div:first-of-type>p:first-of-type {
    font-size: 40px;
    font-family: 'Gilroy-Bold';
    margin-top: 50px;
}

.hero>div:first-of-type>p:first-of-type>span {
    color: #F3A61D;
}

.hero>div:first-of-type>p:last-of-type {
    font-size: 25px;
}

.hero>div:first-of-type>p:last-of-type>span {
    color: #28B570;
}

.hero>div:last-of-type>p:first-of-type {
    font-size: 23px;
    font-family: 'Gilroy-Light';
    margin-top: 50px;
}

.hero>div:last-of-type>p:nth-of-type(2) {
    font-size: 20px;
    font-family: 'Gilroy-Light';
    margin-top: 50px;
    text-decoration: underline;
}

.hero>div:last-of-type>p:nth-of-type(2)>svg {
    position: relative;
    top: 4px;
    right: -5px;
    color: #777D85;
}

.hero>div:last-of-type>button {
    border-radius: 35px;
    color: #171E27;
    background-image: linear-gradient(99deg, #FEC826 0%, #F3A61D 100%);
    border: none;
    font-family: 'Gilroy-Light';
    font-size: 24px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Cards */
.cards {
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 560px;
    width: 412px;
}

.cards>div {
    position: absolute;
    height: 50%;
    width: 50%;
    font-family: 'Gilroy-Medium';
    font-size: 32px;
    padding: 30px;
    border-radius: 35px;
    transition: transform 0.4s ease;
}

.cards > div > img{
    transform: rotate(-3.466deg);
    height: 86px;
    width: 63px;
    margin-bottom: -32px;
}

.cards>div:nth-child(1) {
    background: linear-gradient(138deg, #74DB96 0%, #1DF5F4 99.91%);
    transform: rotate(-14.407deg)
                translate(-200px,25px);

}

.cards>div:nth-child(2) {
    background: linear-gradient(337deg, #C0CEED 0%, #CDBFD3 7.81%, #D100CE 31.77%, #FC583D 44.27%, #E5CCD1 71.35%, #FDD8D0 78.13%, #FA8A77 99.91%);
    transform: rotate(2.739deg);
}

.cards>div:nth-child(3) {
    background: linear-gradient(85deg, #FEC974 0%, #FA8A77 99.91%);
    transform: rotate(25.199deg)
                translate(200px,0px) ;
}


.cards>div:nth-child(3) {
    z-index: 1;
}

.cards>div:nth-child(2) {
    z-index: 1;
}
.cards>div:nth-child(1) {
    z-index: 1;
}

/* Banner */
.banner{
    display: flex;
    justify-content: center;
    font-family: 'Gilroy-Light';
    margin-top: -249px;
    background-color: white;
    position: relative;
    padding-top: 100px;
    z-index: 2;
}



.banner > div{
    border-radius: 100px;
    background: #171E27;
    width: 80%;
    padding: 80px;
    display: flex;
}

.banner > div:first-of-type > div > p:first-of-type{
    color: white;
    font-size: 45px;
    font-family: 'Gilroy-Bold';
    margin: 0px;
}

.banner > div:first-of-type > div > p:nth-of-type(2){
    color: #CECECE;
    font-size: 20px;
    margin: 5px 0px;
}

.banner > div:first-of-type > div button{
    border-radius: 35px;
    background: linear-gradient(99deg, #FEC826 0%, #F3A61D 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 14px 29px;
    border: 0px;
    margin-top: 20px;
}

.banner > div > div:last-of-type > img{
    width: 450px;
    position: relative;
    bottom: -85px;
    right: 0px;
}

/* Partner */

.partner{
    margin: 0px 80px;
    padding-top: 100px;
    border-top: 1px solid #777;
}
.partner > div{
    display: flex;
    justify-content: space-between;
    gap:20px
}   
.partner > div > div:first-of-type{
    width: 55%;
    font-family: 'Gilroy-Regular';
    color: #777;
    font-size: 20px;
}
.partner > div > div:last-of-type{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:20px;
}
.partner > div img{
    width: 100%;
}
.partner > div > div:last-of-type > div{
    background-color: #B1B1B1;
    padding: 15px 20px;
    border-radius: 20px;
}
